<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.youngkbt.generic.base.mapper.UserProjectMapper">

    <resultMap id = "baseResultMap" type = "cn.youngkbt.generic.base.model.GenericProject">
        <id column = "id" property = "id" />
        <result column = "project_name" property = "projectName" />
        <result column = "base_url" property = "baseUrl" />
        <result column = "description" property = "description" />
        <result column = "secret_key" property = "secretKey" />
        <result column = "database_name" property = "databaseName" />
        <result column = "create_user" property = "createUser" />
        <result column = "create_time" property = "createTime" />
        <result column = "modify_user" property = "modifyUser" />
        <result column = "modify_time" property = "modifyTime" />
    </resultMap>

    <sql id = "baseColumnList">
        id, project_name, base_url, description, secret_key, database_name, 
		create_user, create_time, modify_user, modify_time
    </sql>


    <select id="queryGenericProjectListOwner" parameterType = "cn.youngkbt.generic.base.model.UserProject" resultMap = "baseResultMap">
        select
            <include refid = "baseColumnList" />
            from generic_project gp, user_project up
            <where>
                gp.id = up.project_id
                <if test = "username != null">
                    and username = #{username}
                </if>
                <if test = "enterType != null">
                    and enter_type = #{enterType}
                </if>
            </where>
    </select>
    
    <select id="queryGenericMemberInProject" resultType="cn.youngkbt.generic.base.model.GenericUser">
        select gu.username, gu.nickname, gu.email, gu.gender, gu.birthday, gu.phone, gu.status
        from generic_project gp, user_project up, generic_user gu where gp.secret_key = #{secretKey} and gp.id = up.id and up.id = gu.id
        limit #{currentPage}, #{pageSize}
    </select>

</mapper>